* {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: sans-serif;
    background-color: gray;
}

.container_timeline{
    color: white;
    padding: 2em;
}

.container_timeline h1{
    margin: 0.3em;
    font-size: 3em;
}

.container_timeline h2{
    margin-bottom: 0.5em;
}

.title_timeline{
    text-align: center;
}

.title_timeline p{
    color: purple;
    font-size: 1.3em;
    letter-spacing: 2px;
}

.timeline{
    margin: 5em auto;
    max-width: 34.15em;
}

.checkpoint{
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

.checkpoint div{
    border: 2px solid #888;
    border-radius: 1em;
    padding: 1.5em;
}

.checkpoint p{
    line-height: 27px;
    color: #ccc;
}

.checkpoint:nth-child(odd){
    border-right: 3px solid #888;
    padding-right: 3em;
}

.checkpoint:nth-child(even){
    border-right: 3px solid #888;
    padding-right: 3em;
}

.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before{
    content: '';
    background:#888;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before{
    right: 0;
}

.checkpoint:nth-child(even)::before{
    right: 0;
}

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before{
    content: '';
    background-color: #fff;
    box-shadow: 0 0 0.5em  purple;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}
.checkpoint:nth-child(odd) div::before{
    right: -0.5em;
}

.checkpoint:nth-child(even) div::before{
    right: -0.5em;
}

@media screen and (max-width: 1150px) {
    .timeline{
        width: 80vw;
    }
    .timeline .checkpoint{
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }
    .timeline .checkpoint::before{
        width: 3px;
        height: 4em;
        top: -2em;
        left: 50%;
        transform: translateX(-50%);
    }
    .timeline .checkpoint div::before{
        top: -0.5em;
        left: 50%;
        transform: translateX(-50%);
    }
    
}