{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Scope</title>
    <link rel="stylesheet" href="{% static 'landingpage/css/LangPage.css' %}">
</head>
<!-- //////////////////////////////////////////////////////////////////////// -->
<!-- header part -->
<header>
        <nav>
            <a class="logo" href=""> <h2>MediaScope</h2></a>
            <div class="menu-sample">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            
               <ul class = 'nav-list'>
                <li><a id="nav" href="Home">Home</a></li>
                <li><a id="nav" href="About">About</a></li>
                <li><a id="nav" href="Project">Funcionalidades</a></li>
                <li><a id="nav" href="Social Medias">Configurações</a></li>
                <li><a class="Login" href="#"><button>Login</button></a></li>
                <li><a class="Test_free" href="#"><button>Teste Grátis</button></a></li>

            </ul>
        </nav>
    </header>
<!-- end of part header  -->
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- start of home  -->
<section class="home">
    <div class="container_home">
        <div class="first_home_space">
            <div class="content_home">
                <h2>Inteligência em redes <br>sociais para decisões <br>estratégicas</h2>
                <a class="Experiment_now" href="#"><button> Experimente já!</button></a>
            </div>
        </div>
        <div class="second_home_space"></div>
    </div>

</section>


<!-- end of home  -->
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- start of first section of introduction -->
    
    <section class="first_section">
        <div class="first_section_container">
            <div class="first_space">
                <img src="{% static 'landingpage/images/Image_first_section.png' %}" alt="">
            </div>
            <div class="second_space">
                <div class="first_section_text">
                <h2>Deixe as tarefas manuais para trás e se concentre no que importa</h2>
                <p>Com o Media Scope, você ganha horas de produtividade todos os dias, 
                com relatórios e dashboards automáticos que falam a língua do seu negócio. 
                Experimente agora e veja como podemos impulsionar seus resultados.</p>
                <a class="test_now" href="#"><button>Teste Já</button></a>
                </div>
            </div>
        </div>
    </section>

<!-- end of first section  -->
<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- start of second section of introduction -->
    
    <section class="second_section">
        <div class="tittle_space_second_section">
            <h2>Funcionalidades desenhadas para <br>seu sucesso!</h2>
        </div>
        <div class="second_section_container">
            <div class="three_space"></div>
            <div class="four_space">
                <div class="box_information_second_section">
                    <h1>Monitoramento em Tempo Real</h1>
                    <p>Rastreamento contínuo de menções, hashtags e concorrentes across todas as plataformas com atualizações instantâneas.</p>
                    <a class="learn_more" href="#"><button>Saiba mais</button></a>
                </div>
            </div>
        </div>
    </section>

<!-- end of second section  -->
<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- start of third section of introduction -->
    
    <section class="third_section">
        <div class="third_section_container">
            <div class="five_space">
                <div class="box_information_third_section">
                    <h1>Análise de sentimentos com IA</h1>
                    <p>Classificação inteligente do tom das menções (positivo, neutro, negativo) usando processamento de linguagem natural avançado.</p>
                    <a class="learn_more" href="#"><button>Saiba mais</button></a>
                </div></div>
            <div class="six_space">
                
            </div>
        </div>
    </section>

<!-- end of third section  -->
<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- start of fourth section of introduction -->
    
        <section class="fourth_section">
        <div class="fourth_section_container">
            <div class="seven_space">
                <div class="seven_space_img">
                <img src="{% static 'landingpage/images/image_fourth_section.1000px.png' %}" alt="">
            </div></div>
            <div class="eight_space">
                <div class="box_information_fourth_section">
                    <h1>Relatórios automatizados</h1>
                    <p>Classificação inteligente do tom das menções (positivo, neutro, negativo) usando processamento de linguagem natural avançado.</p>
                    <a class="learn_more" href="#"><button>Saiba mais</button></a>
                </div>
            </div>
        </div>
    </section>

<!-- end of fourth section  -->
<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- Timeline part -->
   <div class="container_timeline">
    <div class = "title_timeline">
        <h1>Sobre Nós – “Nossa Jornada”</h1>
        <p>Transformamos o ruído das redes em inteligência estratégica.</p>
    </div>

    <div class="timeline">
        <div class="checkpoint">
            <div>
            <h2>História</h2>
            <p>O Media Scope nasceu da necessidade de transformar o excesso de dados das redes sociais em 
                informações claras e estratégicas. Criado inicialmente como um projeto voltado para pequenas e médias empresas, 
                rapidamente se tornou uma solução acessível e escalável para quem busca compreender melhor o impacto digital.
            </p>
            </div>
        </div>
        <div class="checkpoint">
            <div>
            <h2>Missão</h2>
            <p>Nossa missão é democratizar a análise de redes sociais, oferecendo 
                ferramentas inteligentes e acessíveis que ajudam empresas e 
                profissionais a tomarem decisões baseadas em dados reais.
            </p>
            </div>
        </div>
        <div class="checkpoint">
            <div>
            <h2>Visão & Valores</h2>
            <p>Queremos ser referência em inteligência digital, expandindo cada vez 
                 mais nossas soluções com inovação, ética e confiabilidade.
            </p>
            </div>
        </div>
        <div class="checkpoint">
            <div>
            <h2>Nossos valores se baseiam em:</h2>
            <ul><li>Inovação, para oferecer sempre o que há de mais moderno;</li>
                <li>Confiabilidade, garantindo dados precisos e seguros;</li>
                <li>Transparência, para que nossos clientes confiem em cada insight.</li>
            </ul>
            </div>
        </div>
    </div>
</div>

<!-- end of part Timeline -->
<!-- /////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- start part of plans of upgrades -->
<section class="container_plans">

    <div class="tittle_paragraf_plans">
    <h1>Simples preços, <br>poderosos planos</h1>
    <p>Simples, transparente preço que cresce junto com você. Experimente por 30 <br> dias gratuitos.</p>

    <div class="toggle-container">
      <button id="btnMensal" class="toggle-btn active">Mensal</button>
      <button id="btnAnual" class="toggle-btn">Anual</button>
    </div></div>

    <div class="planos">
      <div class="plano">
        <div class="top_plans">
            <div class="top_plans_img">
            <img src="{% static 'landingpage/images/icons_planos (3).png' %}" alt="">
        </div>
        <p>Plano Essential</p>
        <p class="price" id="price1">R$297<span>/mês</span></p>
        </div>
        <ul>
          <li><img src="{% static 'landingpage/images/img_confere.png' %}" alt="">Dashboard básico</li>
          <li><img src="{% static 'landingpage/images/img_confere.png' %}" alt="">Análise de sentimentos</li>
          <li><img src="{% static 'landingpage/images/img_confere.png' %}" alt="">Alertas por email</li>
          <li><img src="{% static 'landingpage/images/img_confere.png' %}" alt="">5.000 menções/mês</li>
          <li><img src="{% static 'landingpage/images/img_confere.png' %}" alt="">1 Usuário</li>
        </ul>
        <button class="btn-begnning">Comece agora</button>
      </div>

      <div class="plano">
        <div class="top_plans">
            <div class="top_plans_img">
            <img src="{% static 'landingpage/images/icons_planos (1).png' %}" alt="">
            </div>
        <p>Enterprise plan</p>
        <p class="price" id="price2">R$1297<span>/mês</span></p>
        </div>
        <ul>
          <li><img src="{% static 'landingpage/images/img_confere.png' %}" alt="">Menções ilimitadas</li>
          <li><img src="{% static 'landingpage/images/img_confere.png' %}" alt="">Análise preditivada com IA</li>
          <li><img src="{% static 'landingpage/images/img_confere.png' %}" alt="">Suporte dedicado</li>
          <li><img src="{% static 'landingpage/images/img_confere.png' %}" alt="">Segura enterprise</li>
          <li><img src="{% static 'landingpage/images/img_confere.png' %}" alt="">Alertas inteligentes 24/7</li>
        </ul>
        <button class="btn-begnning">Comece agora</button>
      </div>

      <div class="plano">
        <div class="top_plans">
            <div class="top_plans_img">
            <img src="{% static 'landingpage/images/icons_planos (2).png' %}" alt="">
        </div>
        <p>Professional plan</p>
        <p class="price" id="price3">R$597<span>/mês</span></p>
        </div>
        <ul>
            <li><img src="{% static 'landingpage/images/img_confere.png' %}" alt="">20.000 menções/mês</li>
            <li><img src="{% static 'landingpage/images/img_confere.png' %}" alt="">Dashboards ilimitados</li>
            <li><img src="{% static 'landingpage/images/img_confere.png' %}" alt="">Suporte prioritário</li>
            <li><img src="{% static 'landingpage/images/img_confere.png' %}" alt="">Análise de sentimentos avançada</li>
            <li><img src="{% static 'landingpage/images/img_confere.png' %}" alt="">Alertas multi-canais</li>
        </ul>
        <button class="btn-begnning">Comece agora</button>
      </div>
    </div>
    
</section>
<!-- end part of plans of upgrades -->
<!-- /////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- start of last section -->

<section class="fifth"></section>


<!-- end of last section -->
<!-- /////////////////////////////////////////////////////////////////////////////////////////// -->
<script src="{% static 'landingpage/js/LangPage.js' %}"></script>
</body>
</html>